<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Django CRUD application!</title>
  </head>
  <body>
    <div class="container">
        <h1>Blog Post List!</h1>
        <ul>
          {% for post in object_list %}
          <li><p>Post ID: <a href="{% url "blog_posts:post_edit" post.id %}">{{ post.id }}</a></p>
          <p>Title: {{ post.title }}</p>
            <a href="{% url "blog_posts:post_delete" post.id %}">Delete</a>
          </li>
          {% endfor %}
        </ul>

        <a href="{% url "blog_posts:post_new" %}">New Blog post entry</a>
    </div>
  </body>
</html>
